/* menu-hamburger */
.charm--menu-hamburger::after {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M2.75 12.25h10.5m-10.5-4h10.5m-10.5-4h10.5'/%3E%3C/svg%3E");
}

.line-md--menu-to-close-transition::after {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: -0.125em;
  
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 5L12 5L19 5M5 12H19M5 19L12 19L19 19'%3E%3Canimate fill='freeze' attributeName='d' dur='0.4s' values='M5 5L12 5L19 5M5 12H19M5 19L12 19L19 19;M5 5L12 12L19 5M12 12H12M5 19L12 12L19 19'/%3E%3C/path%3E%3C/svg%3E");
}
/* <span class="line-md--menu-to-close-transition"></span> */

/* alert vazado*/
.mingcute--alert-line {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23FF0000' d='m13.299 3.148l8.634 14.954a1.5 1.5 0 0 1-1.299 2.25H3.366a1.5 1.5 0 0 1-1.299-2.25l8.634-14.954c.577-1 2.02-1 2.598 0M12 4.898L4.232 18.352h15.536zM12 15a1 1 0 1 1 0 2a1 1 0 0 1 0-2m0-7a1 1 0 0 1 1 1v4a1 1 0 1 1-2 0V9a1 1 0 0 1 1-1'/%3E%3C/g%3E%3C/svg%3E");
}

/* house vazado*/
.teenyicons--house-outline::after {
  display: inline-block;
  width: var(--sizing-icons);
  height: var(--sizing-icons);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cpath fill='%23FF0000' d='m.5 5.5l-.29-.407l-.21.15V5.5zm7-5l.29-.407a.5.5 0 0 0-.58 0zm7 5h.5v-.257l-.21-.15zm-12 3V8H2v.5zm4 0H7V8h-.5zM1 15V5.5H0V15zM.79 5.907l7-5l-.58-.814l-7 5zm6.42-5l7 5l.58-.814l-7-5zM14 5.5V15h1V5.5zM3 15V8.5H2V15zm-.5-6h4V8h-4zM6 8.5V15h1V8.5zM5 12h1.5v-1H5zm6-4v4h1V8zm2-6v2.5h1V2z'/%3E%3C/svg%3E");
}

/* motorcycle vazado*/
.streamline--transfer-motorcycle::after {
  display: inline-block;
  width: var(--sizing-icons);
  height: var(--sizing-icons);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg fill='none' stroke='%23FF0000' stroke-linecap='round' stroke-width='1'%3E%3Cpath stroke-linejoin='round' d='M10.499 13.5a1.501 1.501 0 1 1 0-3.002a1.501 1.501 0 0 1 0 3.002m-7 0a1.501 1.501 0 1 1 0-3.002a1.501 1.501 0 0 1 0 3.002'/%3E%3Cpath stroke-linejoin='round' d='M2 12H.5v-2a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v.5A1.5 1.5 0 0 0 8 12h1m3 0h.5c.552 0 1.012-.452.908-.994C13.077 9.278 11.866 8 10 8h-.5'/%3E%3Cpath stroke-linejoin='round' d='M8 3.5h1.5v7.379'/%3E%3Cpath stroke-linejoin='round' d='M11.5 4.5h-1a1 1 0 0 0 0 2h1z'/%3E%3Cpath d='M1.5 8H4a1 1 0 0 0 1-1V4.5a1 1 0 0 0-1-1H1.5a1 1 0 0 0-1 1V7a1 1 0 0 0 1 1Z'/%3E%3C/g%3E%3C/svg%3E");
}

/* tree vazado*/
.streamline--tree-3::after {
  display: inline-block;
  width: var(--sizing-icons);
  height: var(--sizing-icons);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg fill='none' stroke='%23FF0000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'%3E%3Cpath d='M9.24 1.359a3.5 3.5 0 0 1 1.18 2.127h.08a3 3 0 0 1 0 6h-7a3 3 0 1 1 0-6A3.5 3.5 0 0 1 9.24 1.36'/%3E%3Cpath d='m5.42 6.486l1.5 1.5v5.5m0-5.5l1.5-1.5'/%3E%3C/g%3E%3C/svg%3E");
}

/* chip iot vazado*/
.streamline--ai-chip-spark::after {
  display: inline-block;
  width: var(--sizing-icons);
  height: var(--sizing-icons);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'%3E%3Cpath d='M2.5 8.833H.679m12.642 0H11.5m-9-3.666H.679m12.642 0H11.5M5.167 2.5V.679m0 12.642V11.5m3.666-9V.679m0 12.642V11.5m1.667-9h-7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1'/%3E%3Cpath d='M4.667 7.25c-.281-.048-.281-.452 0-.501a2.55 2.55 0 0 0 2.05-1.964l.018-.078c.06-.278.457-.28.52-.002l.02.09a2.56 2.56 0 0 0 2.057 1.953c.283.049.283.455 0 .504a2.56 2.56 0 0 0-2.057 1.952l-.02.09c-.063.278-.46.276-.52-.002l-.017-.077A2.55 2.55 0 0 0 4.667 7.25'/%3E%3C/g%3E%3C/svg%3E");
}

/* ia globo vazado*/
.streamline--ai-network-spark-remix::after {
  display: inline-block;
  width: var(--sizing-icons);
  height: var(--sizing-icons);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M11.176.65c-.195-.87-1.428-.865-1.616.006l-.02.097l.489.105l-.49-.105A2.65 2.65 0 0 1 7.423 2.82c-.896.159-.896 1.453 0 1.612A2.65 2.65 0 0 1 9.54 6.497l.02.097c.188.87 1.42.877 1.616.007l.025-.113a2.67 2.67 0 0 1 2.126-2.056c.897-.159.897-1.455 0-1.614A2.67 2.67 0 0 1 11.2.762zM6.985 2.02A.623.623 0 0 0 6.502 1H6.5A6.5 6.5 0 1 0 13 7.5a.625.625 0 1 0-1.25 0a5.25 5.25 0 0 1-3.923 5.081a10.8 10.8 0 0 0 1.385-3.61a.625.625 0 0 0-1.229-.231a9.5 9.5 0 0 1-1.477 3.584a8.6 8.6 0 0 1-1.499-4.199h2.886a.625.625 0 1 0 0-1.25H5.006c.128-1.707.787-3.39 1.979-4.856M3.753 6.874c.1-1.538.574-3.06 1.423-4.457a5.255 5.255 0 0 0-3.89 4.457zm-2.466 1.25a5.255 5.255 0 0 0 3.9 4.46a9.8 9.8 0 0 1-1.433-4.46z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

/* phone vazado */
.streamline--phone-ringing-2-remix::after {
  display: inline-block;
  width: var(--sizing-icons);
  height: var(--sizing-icons);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M1.606 1.625c-.084 0-.231.088-.231.298v10.154c0 .21.147.298.23.298h5.991c.084 0 .23-.088.23-.298v-1.288a.625.625 0 1 1 1.25 0v1.288c0 .81-.618 1.548-1.48 1.548h-5.99c-.862 0-1.481-.739-1.481-1.548V1.923c0-.81.62-1.548 1.48-1.548h5.991c.862 0 1.48.739 1.48 1.548V3.25a.625.625 0 1 1-1.25 0V1.923c0-.21-.146-.298-.23-.298zm1.692 8.548c0-.483.392-.875.875-.875h.856a.875.875 0 0 1 0 1.75h-.856a.875.875 0 0 1-.875-.875m7.972-5.886c1.307 1.488 1.307 3.938 0 5.427a.75.75 0 1 0 1.127.99c1.804-2.056 1.804-5.352 0-7.407a.75.75 0 0 0-1.127.99M9.395 8.455c.468-.824.466-2.076-.003-2.914a.75.75 0 0 1 1.31-.733c.719 1.287.73 3.098-.004 4.388a.75.75 0 1 1-1.303-.741M7.297 6.682a.73.73 0 0 1 .003.632a.75.75 0 1 0 1.304.742c.358-.63.35-1.484.002-2.107a.75.75 0 1 0-1.309.733' clip-rule='evenodd'/%3E%3C/svg%3E");
}

/* atom vazado*/
.streamline--ai-science-spark::after {
  display: inline-block;
  width: var(--sizing-icons);
  height: var(--sizing-icons);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'%3E%3Cpath d='M6.022 4.347a18.5 18.5 0 0 0-1.93 1.686C1.248 8.877-.192 12.046.874 13.113c1.066 1.066 4.236-.375 7.079-3.218a18.5 18.5 0 0 0 1.686-1.931'/%3E%3Cpath d='M9.639 7.964c1.677 2.226 2.36 4.32 1.532 5.148c-1.067 1.067-4.236-.374-7.08-3.217C1.249 7.05-.191 3.882.875 2.815c.828-.827 2.922-.144 5.148 1.532'/%3E%3Cpath d='M5.522 7.964a.5.5 0 1 0 1 0a.5.5 0 0 0-1 0m2.51-4.354c-.315-.055-.315-.506 0-.56a2.84 2.84 0 0 0 2.29-2.193L10.34.77c.068-.31.51-.312.58-.003l.024.101a2.86 2.86 0 0 0 2.296 2.18c.316.055.316.509 0 .563a2.86 2.86 0 0 0-2.296 2.18l-.024.101c-.07.31-.512.308-.58-.002l-.02-.087A2.84 2.84 0 0 0 8.03 3.61'/%3E%3C/g%3E%3C/svg%3E");
}

/* number 1 */
.iconamoon--number-1-circle-fill::after {
  display: inline-block;
  width: var(--sizing-icons);
  height: var(--sizing-icons);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%232D52CE' fill-rule='evenodd' d='M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12m11.5-5a1 1 0 0 0-1.707-.707l-2 2a1 1 0 0 0 1.414 1.414l.293-.293V17a1 1 0 1 0 2 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

/* number 2 */
.iconamoon--number-2-circle-fill::after {
  display: inline-block;
  width: var(--sizing-icons);
  height: var(--sizing-icons);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%232D52CE' fill-rule='evenodd' d='M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12m8.5-2.5a1.5 1.5 0 1 1 2.56 1.06l-3.828 3.83a2.5 2.5 0 0 0-.732 1.767V17a1 1 0 0 0 1 1h5a1 1 0 1 0 0-2h-3.975a.5.5 0 0 1 .121-.197l3.829-3.828A3.5 3.5 0 1 0 8.5 9.5a1 1 0 1 0 2 0' clip-rule='evenodd'/%3E%3C/svg%3E");
}

/* number 3 */
.iconamoon--number-3-circle-fill::after {
  display: inline-block;
  width: var(--sizing-icons);
  height: var(--sizing-icons);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%232D52CE' fill-rule='evenodd' d='M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12m8-6a1 1 0 0 0 0 2h3l-1.8 2.4A1 1 0 0 0 12 12a2 2 0 1 1-1.333 3.491a1 1 0 1 0-1.334 1.49a4 4 0 1 0 4.379-6.597L15.8 7.6A1 1 0 0 0 15 6z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

/* number 4 */
.iconamoon--number-4-circle-fill::after {
  display: inline-block;
  width: var(--sizing-icons);
  height: var(--sizing-icons);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%232D52CE' fill-rule='evenodd' d='M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12m9.462-4.725a1 1 0 1 0-1.924-.55l-1.271 4.45A3 3 0 0 0 11.152 15H13.5v2a1 1 0 1 0 2 0v-7a1 1 0 1 0-2 0v3h-2.348a1 1 0 0 1-.962-1.275z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

/* phone 2 */
.streamline--phone-ringing-2::after {
  display: inline-block;
  width: var(--sizing-benefit-icons);
  height: var(--sizing-benefit-icons);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M7.632 1.438h-5.99a.856.856 0 0 0-.856.855v9.414c0 .472.383.855.855.855h5.99a.856.856 0 0 0 .856-.855V2.293a.856.856 0 0 0-.855-.855m-3.423 8.985h.855m7.206-6.631c1.556 1.772 1.556 4.645 0 6.416m-1.666-5.25c.778 1.128.778 2.956 0 4.084' stroke-width='1'/%3E%3C/svg%3E");
}


/* Arrow */
.streamline--graph-arrow-increase::after {
  display: inline-block;
  width: var(--sizing-benefit-icons);
  height: var(--sizing-benefit-icons);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'%3E%3Cpath d='M9.5 3.5h4v4'/%3E%3Cpath d='M13.5 3.5L7.85 9.15a.5.5 0 0 1-.7 0l-2.3-2.3a.5.5 0 0 0-.7 0L.5 10.5'/%3E%3C/g%3E%3C/svg%3E");
}

/* setting */
.streamline--ai-settings-spark::after {
  display: inline-block;
  width: var(--sizing-benefit-icons);
  height: var(--sizing-benefit-icons);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' d='M5.92 2.57h-.687a.84.84 0 0 0-.78.537l-.36.93l-1.24.703l-.988-.15a.84.84 0 0 0-.838.41l-.335.587a.84.84 0 0 0 .067.946l.628.78V8.72l-.611.78a.84.84 0 0 0-.067.946l.335.586a.84.84 0 0 0 .838.411l.988-.15l1.223.703l.36.93a.84.84 0 0 0 .78.536h.704a.84.84 0 0 0 .779-.536l.36-.93l1.223-.704l.989.151a.84.84 0 0 0 .838-.41l.335-.587a.84.84 0 0 0-.067-.947l-.629-.779v-.907m-5.864.203a1.676 1.676 0 1 0 3.351 0a1.676 1.676 0 0 0-3.351 0M8.1 3.542c-.306-.053-.306-.494 0-.547A2.78 2.78 0 0 0 10.34.85l.019-.085c.066-.303.498-.305.567-.002l.023.098a2.79 2.79 0 0 0 2.244 2.131c.309.054.309.497 0 .55a2.79 2.79 0 0 0-2.244 2.131l-.023.099c-.069.303-.501.3-.568-.003l-.018-.084a2.78 2.78 0 0 0-2.238-2.144' stroke-width='1'/%3E%3C/svg%3E");
}

/* hand */
.streamline--insurance-hand::after {
  display: inline-block;
  width: var(--sizing-benefit-icons);
  height: var(--sizing-benefit-icons);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'%3E%3Cpath d='M8.315 1.031a.5.5 0 0 0-.5.5v1.407H6.409a.5.5 0 0 0-.5.5v1.625a.5.5 0 0 0 .5.5h1.406v1.406a.5.5 0 0 0 .5.5H9.94a.5.5 0 0 0 .5-.5V5.563h1.406a.5.5 0 0 0 .5-.5V3.438a.5.5 0 0 0-.5-.5H10.44V1.53a.5.5 0 0 0-.5-.5zm-7.732 9.75l2.444 2.037a2 2 0 0 0 1.28.463h6.443c.46 0 .833-.373.833-.833c0-.92-.746-1.667-1.667-1.667H5.437'/%3E%3Cpath d='m3.583 9.781l.75.75a1.06 1.06 0 1 0 1.5-1.5L4.669 7.867a2 2 0 0 0-1.414-.586H.583'/%3E%3C/g%3E%3C/svg%3E");
}

/* other smartphone */
.streamline--phone-ringing-2::after {
  display: inline-block;
  width: var(--sizing-benefit-icons);
  height: var(--sizing-benefit-icons);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' d='M7.632 1.438h-5.99a.856.856 0 0 0-.856.855v9.414c0 .472.383.855.855.855h5.99a.856.856 0 0 0 .856-.855V2.293a.856.856 0 0 0-.855-.855m-3.423 8.985h.855m7.206-6.631c1.556 1.772 1.556 4.645 0 6.416m-1.666-5.25c.778 1.128.778 2.956 0 4.084' stroke-width='1'/%3E%3C/svg%3E");
}

/* envelop */
.streamline--mail-send-envelope::after {
  display: inline-block;
  width: var(--sizing-footer-icons);
  height: var(--sizing-footer-icons);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg fill='none' stroke='%230DF7FF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'%3E%3Cpath d='M12.5 1.75h-11a1 1 0 0 0-1 1v8.5a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-8.5a1 1 0 0 0-1-1'/%3E%3Cpath d='m.5 3l5.86 3.524c.18.106.406.163.64.163s.46-.057.64-.163L13.5 3'/%3E%3C/g%3E%3C/svg%3E");
}
/* phone */
.streamline--phone::after {
  display: inline-block;
  width: var(--sizing-footer-icons);
  height: var(--sizing-footer-icons);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='none' stroke='%230DF7FF' stroke-linecap='round' stroke-linejoin='round' d='M5.248 12.982a3.184 3.184 0 0 1-3.992-.44l-.449-.438a1.08 1.08 0 0 1 0-1.507L2.713 8.71a1.07 1.07 0 0 1 1.497 0a1.08 1.08 0 0 0 1.507 0L8.71 5.717a1.06 1.06 0 0 0 0-1.507a1.07 1.07 0 0 1 0-1.497L10.607.817a1.08 1.08 0 0 1 1.507 0l.439.45a3.184 3.184 0 0 1 .439 3.99a28.9 28.9 0 0 1-7.744 7.725' stroke-width='1'/%3E%3C/svg%3E");
}

/* location */
.streamline--location-pin-3::after {
  display: inline-block;
  width: var(--sizing-footer-icons);
  height: var(--sizing-footer-icons);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg fill='none' stroke='%230DF7FF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'%3E%3Cpath d='M11.5 5c0 3-4.5 6.5-4.5 6.5S2.5 8 2.5 5C2.5 2.549 4.549.5 7 .5s4.5 2.049 4.5 4.5'/%3E%3Cpath d='M7 6.5a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3m4.077 3.5H12l1.5 3.5H.5L2 10h.923'/%3E%3C/g%3E%3C/svg%3E");
}

/* itens tecnologia */
.streamline--signal-full::after {
  display: inline-block;
  width: var(--sizing-icons-page-tech);
  height: var(--sizing-icons-page-tech);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='none' stroke='%230DF7FF' stroke-linecap='round' stroke-linejoin='round' d='M4.75 7.5H.5v6h4.25m4.5-9h-4.5v9h4.5M13.5.5H9.25v13h4.25z' stroke-width='1'/%3E%3C/svg%3E");
}

/* lampada */

.streamline--ai-technology-spark::after {
  display: inline-block;
  width: var(--sizing-icons-page-tech);
  height: var(--sizing-icons-page-tech);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg fill='none' stroke='%230DF7FF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'%3E%3Cpath d='M8.406 7.97c-.386.44-.856.8-1.385 1.061v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1.5A4.5 4.5 0 0 1 6.875.9M3.021 13.5h4'/%3E%3Cpath d='M7.395 3.934c-.351-.061-.351-.565 0-.626A3.18 3.18 0 0 0 9.953.858L9.974.76c.076-.347.57-.349.649-.003l.026.113a3.19 3.19 0 0 0 2.565 2.435c.353.062.353.568 0 .63A3.19 3.19 0 0 0 10.65 6.37l-.026.113c-.079.346-.573.344-.649-.003l-.02-.097a3.18 3.18 0 0 0-2.56-2.45'/%3E%3C/g%3E%3C/svg%3E");
}


/* browser */
.streamline--browser-remove::after {
  display: inline-block;
  width: var(--sizing-icons-page-tech);
  height: var(--sizing-icons-page-tech);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='none' stroke='%230DF7FF' stroke-linecap='round' stroke-linejoin='round' d='M12.5.5h-11a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-11a1 1 0 0 0-1-1m-12 3h13m-4 5h-5' stroke-width='1'/%3E%3C/svg%3E");
}

/* code */
.streamline--bracket-solid::after {
  display: inline-block;
  width: var(--sizing-icons-page-tech);
  height: var(--sizing-icons-page-tech);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='%230DF7FF' fill-rule='evenodd' d='M10.476 2.893a1 1 0 1 0-1.46 1.367L11.578 7L9.015 9.74a1 1 0 1 0 1.46 1.367l3.204-3.424a1 1 0 0 0 0-1.366zM4.985 4.26a1 1 0 1 0-1.46-1.367L.32 6.317a1 1 0 0 0 0 1.366l3.203 3.424a1 1 0 0 0 1.46-1.367L2.422 7l2.564-2.74Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}


/* lupa ia*/

.streamline--ai-upscale-spark-solid::after {
  display: inline-block;
  width: var(--sizing-icons-page-tech);
  height: var(--sizing-icons-page-tech);
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='%230DF7FF' fill-rule='evenodd' d='M6.5 1.5a5 5 0 1 0 0 10a5 5 0 0 0 0-10M0 6.5a6.5 6.5 0 1 1 11.749 3.835l1.958 1.958a1 1 0 1 1-1.414 1.414l-1.958-1.958A6.5 6.5 0 0 1 0 6.5m5.74-2.63c.18-.824 1.352-.829 1.539-.007l.009.038A2.275 2.275 0 0 0 9.13 5.697c.859.149.859 1.382 0 1.531A2.275 2.275 0 0 0 7.3 8.964l-.022.098c-.187.821-1.36.816-1.54-.007l-.018-.084a2.26 2.26 0 0 0-1.822-1.744c-.857-.15-.857-1.38 0-1.53a2.26 2.26 0 0 0 1.82-1.734l.013-.062l.007-.031Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}