@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*set*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* variables */

:root {
    --color-white: #FFFFFF;
    --color-red: #FF0000;
    --color-background-one: #F2F2F2;
    --color-background-dark: #000000;
    --color-background-red: #F3DADA;
    --gradient: rgba(0, 0, 0, .3);
    --transition: .5s;
    --spacing-sm: 1rem;
    /* 16px */
    --spacing-md: 1.5rem;
    /* 24px */
    --spacing-lg: 2rem;
    /* 32px */
    --spacing-mlg: 3rem;

    --sizing-icons: 2rem;
    --transition-speed: 0.3s;
}

/* configurações gerais */
html {
    font-size: 16px;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

/* configurações gerais fim */
/* cabeçalho */

/* icones*/
header {
    background-image: url(../assets/Earth.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100dvh;
    color: var(--color-white);
}

.hero {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 var(--spacing-lg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;
    backdrop-filter: blur(5px);
    background-color: var(--gradient);
}

#logo {
    width: 10rem;
    height: 8rem;
    flex-shrink: 0;
}

#logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-icons {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

/* icones fim */
/* menu */
.daltonic-switcher,
.theme-switcher {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: var(--spacing-mlg);
    height: var(--spacing-mlg);
}

.theme-switcher {
    border-radius: 50%;
    border: 2px solid var(--color-white);
    background-color: var(--color-background-dark);
}

.button-menu-mobile {
    display: none;
}

.menu {
    margin-left: auto;
}

.menu-items {
    display: flex;
    gap: var(--spacing-md);
}

.menu-items li>a {
    font-weight: bold;
    font-size: var(--spacing-md);
}

/* menu fim*/
/* destaque */
.destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 83vh;
    padding: 1% 30%;

}

.destaque h1 {
    text-transform: uppercase;
    font-size: 3.4rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 6rem;
}

.destaque p {
    text-align: center;
    font-size: 1.2rem;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

/* destaque fim */
/* cabeçalho fim*/

/* configurações gerais main */
.cabecalho-conteudo {
    text-align: center;
}

.cabecalho-conteudo>h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5rem;
    margin-top: 50px
}

.cabecalho-conteudo>p {
    margin-top: 50px;
    font-size: 2.5rem;
}

.box {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8%;
}

.conteudo {
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    text-align: center;
    border-radius: 30px;
    background-color: var(--color-white);
    margin: 20px;
    padding: 3%;
}

.card>h4 {
    margin-top: 10px;
    font-size: var(--spacing-lg);
}

.card>p {
    margin-top: 10px;
    font-size: var(--spacing-md);
}

/* configurações gerais main */

/* problemas */
#problemas {
    background-color: var(--color-background-one);
    width: 100%;
}

.destaque-problemas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Creates two columns of equal width */
    gap: 20px;
    /* Adds space between grid cells */
    align-items: flex-start;
    /* Aligns items to the top of their grid areas */
}

.destaque-problemas {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.destaque-problemas img {
    max-width: 4%;
    height: auto;
    display: block;
}

.alerta {
    width: 50%;
    padding: 2%;
    border-radius: 30px;
    background-color: var(--color-background-red);
    border-left: 4px solid #FF0000;
    font-weight: bold;
}

.alerta h4 {
    margin-bottom: 10px;

    font-size: 1.5rem;
}

.alerta ul {
    list-style-type: disc;
}



/* problemas fim */